<h1>Health Tracker</h1>

<ul>
  <% @foods.each do |food| %>
    <li>NAME: <%= food.name %>, COUNT: <%= food.calorie_count.count %></li>
  <% end %>
</ul>

<ul>
  <% @exercises.each do |exercise| %>
    <li>EXERCISE NAME: <%= exercise.name %>, COUNT: <%= exercise.calorie_count.count %></li>
  <% end %>
</ul>
