<nav class="navbar navbar-default navbar-inverse site-nav">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to 'Home', root_path, {:class => "navbar-brand"} %>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li>even more</li>
        </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>stuff</li>
            <li>more stuff</li>
          </ul>
      </div>
    </div>
  </nav>
